<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firedatabase_assis"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".BaseActivity"
            android:exported="false" />

        <activity
            android:name=".explore.LoadVideos"
            android:exported="true" />

        <activity
            android:name=".search.SearchActivity"
            android:exported="true" />

        <activity
            android:name=".login_setup.SetupActivity"
            android:exported="true" />

        <activity
            android:name=".login_setup.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".home_page.HomePage"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:exported="true" />

        <activity
            android:name=".login_setup.LoginForm"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".settings.GenresActivity"
            android:exported="true" />

        <activity
            android:name=".settings.SubscriptionsActivity"
            android:exported="true" />

        <activity
            android:name=".settings.PreferencesActivity"
            android:exported="true" />

        <activity
            android:name=".settings.SecurityActivity"
            android:exported="true" />

        <activity
            android:name=".settings.LanguageActivity"
            android:exported="true" />

        <activity
            android:name=".interactions.InteractionsActivity"
            android:exported="true" />
        <activity
            android:name=".interactions.FeedActivity"
            android:exported="true" />

        <activity
            android:name=".interactions.SingleItemActivity"
            android:exported="true" />


    </application>

</manifest>
